@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Markazi+Text|Julius+Sans+One');

* { padding: 0; margin: 0; box-sizing: border-box;}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

.mySlides {
    display: none;
}

/* links */
a.in-text {
	text-decoration: none;
	color: #ededed;
	font-family: 'Crimson Text', serif;

}

a.in-text:link{
	text-decoration: none;
	color: #ededed;
}

a.in-text:visited {
	text-decoration: none;
	color: #ededed;
}

a.in-text:hover  {
	text-decoration: underline;
	color: #aaa;
}

a.in-text:active {
	text-decoration: none;
	color: #aaa;
}

/* links */
a.title-link {
	text-decoration: none;
	color: #ededed;
  font-family: 'Josefin Sans', sans-serif;
}

a.title-link:link{
	text-decoration: none;
	color: #ededed;
}

a.title-link:visited {
	text-decoration: none;
	color: #ededed;
}

a.title-link:hover  {
	text-decoration: underline;
	color: #ededed;
}

a.in-text:active {
	text-decoration: none;
	color: #ededed;
}


/* nav bar */
.topnav {
	overflow: hidden;
	color: #333;
	background-color: #edebe3;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	top: 0px;
	position: fixed;
	opacity: .5;
}

.topnav:hover {
	opacity: 1;
}

.topnav a {
	display: inline-block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	color: #8e8c83;
}

.page {
  background-color: #48545b;
	background-size: cover;
	flex-grow: 1;
	padding-top: 7.5%;
}

.page-home {
	font-family: 'Josefin Sans', sans-serif;
	color: #f2f0ea;
	font-size: 150px;
	text-align: center;
  background-color: #48545b;
	background-size: cover;
	padding-top: 10%;
	flex-grow: 1;

}

.page-title {
	font-family: 'Josefin Sans', sans-serif;
	color: #f2f0ea;
	font-size: 120px;
	text-align: center;
}

.content {
	color: #333;
	font-family: 'Crimson Text', serif;
	/* background-color: #edebe3; */
	background: none;
	width: 40%;
	margin: auto;
	font-size: 18px;
	text-align: justify;
}

.picture {
	text-align: center;
	width: 100%;
	margin: auto;
	padding-top: 10px;
}

.blog-list-content {
	color: #333;
	font-family: 'Crimson Text', serif;
	/* background-color: #edebe3; */
	background: none;
	width: 40%;
	margin: auto;
	font-size: 18px;
	text-align: justify;
}

.blog-list-content a{
  display: block;
  text-decoration: none;
}

.blog-summary-box{
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color:#e5e2de;
	opacity: .65;
	text-decoration: none;
}

.blog-summary-box:hover{
	opacity: 1;
}

.blog-summary-title {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  font-size: 48px;
  text-align: left;
}

.blog-summary-date{
  	color: #111;
    font-size: 12;
    text-align: left;
}

.blog-summary-content{
  	color: #333;
    text-align: left;
}

.home-content {
	color: #edebe3;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.footer {
	background-color: #5d7993;
	font-family: 'Crimson Text', serif;
	color: #f2f0ea;
	padding: 10px;
	text-align: left;
}

.skills-box {
	float: left;
	text-align: center;
	width: 25%;
	padding: 10px;
	margin: auto;
}

.skills-box-img {
	max-width: 100%;
	height: auto;
}

.contact-box {
	float: left;
	text-align: center;
	width: 25%;
	padding: 20px;
	margin: auto;
}

.contact-box-img {
	max-width: 100%;
	height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
	width: 40%;
	margin: auto;
}
