@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
}

.mySlides {
    display: none;
}

/* links */
a.in-text {
    color: #0398fc;
    text-decoration: none;
}

a.in-text:link {
    text-decoration: none;
    color: #0398fc;
}

a.in-text:visited {
    text-decoration: underline;
    color: #0398fc;
}

a.in-text:hover {
    text-decoration: underline;
    color: #333;
}

a.in-text:active {
    text-decoration: none;
    color: #333;
}

/* links */
a.title-link {
    color: #0398fc;
    text-transform: uppercase;
}

a.title-link:link {
    color: #0398fc;
}

a.title-link:visited {
    color: #0398fc;
}

a.title-link:hover {
    color: #888;
}

a.in-text:active {
    color: #000;
}


/* nav bar */
.topnav {
    color: #FFF;
    background-color: #FFF;
    border-bottom: solid 2px black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    top: 0px;
    display: block;
    text-transform: uppercase;
}


.topnav_wrapper {
    margin: 8px auto;
    width: 100%;
}
.topnav a {
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 10px 12px;
    margin: auto;
    width: 10%;
    text-decoration: none;
    border-radius: 6px;
    opacity: .6;
}

.topnav a:nth-child(1) {
    background-color: #d41919;
}

.topnav a:nth-child(2) {
    background-color: #0398fc;
}

.topnav a:nth-child(3) {
    background-color: #fca103;
}

.topnav a:nth-child(4) {
    background-color: #2bc47d;
}


.topnav a:hover {
    opacity: 1;
}

#topnav_selected {
    opacity: 1;
    border: 1px solid #a8a8a8;
}

.page {
    display: block;
    background-color: #FFF;
    background-size: cover;
    flex: 1 0 auto;
}

.page-home {
    font-family: 'Roboto Thin', sans-serif;
    color: #000;
    font-size: 100px;
    text-align: center;
    background-color: #FFF;
    background-size: cover;
    padding-top: 10%;
    flex-grow: 1;
}

.page-title {
    font-family: 'Roboto Light', sans-serif;
    color: #000;
    font-size: 40px;
    text-align: left;
    width: 40%;
    margin: auto;
    padding: 50px 0 0 0;
    display: block;
    text-transform: uppercase;
}

.content {
    color: #000;
    font-family: 'Roboto', sans-serif;
    /* background-color: #edebe3; */
    background: none;
    width: 40%;
    margin: auto;
    font-size: 18px;
    text-align: justify;
}

.pullout {
    padding: 25px;
    margin: 10px auto;
    width: 100%;
    background-color: #a8a8a8;
    border-radius: 5px;
}

.picture {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

p {
    padding: 5px 0 5px 0;
    display: block;
}

.bottom-padded {
    padding: 5px 0 15px 0;
}

.home-content {
    color: #000;
    font-family: 'Roboto Light', sans-serif;
    font-size: 24px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.box {
    float: left;
    text-align: center;
    width: 50%;
    margin: auto;
    height: auto;
}

.right {
    padding: 0 0 0 10px;
}

.left {
    padding: 0 10px 0 0;
}

.image-box {
    max-width: 100%;
    height: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: 50;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0px 3px 3px 0px;
    display: block;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #161616;
}

/* algorithm sample */
.control-button {
    margin: 4px;
    padding: 2px;
    border: 0;
    background-color: #d41919;
    box-shadow: none;
    font-family: sans-serif;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 4px
}

#viewport {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    display: inline-block;
    float: left;
    margin: 0px 0px 10px 0px;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.footer {
    background-color: #a8a8a8;
    font-family: 'Roboto Light', sans-serif;
    color: #000;
    padding: 10px;
    text-align: left;
    flex-shrink: 0;
}

.skills-box {
    float: left;
    text-align: center;
    width: 25%;
    padding: 10px;
    margin: auto;
}

.skills-box-img {
    max-width: 100%;
    height: auto;
}

.contact-box {
    float: left;
    text-align: center;
    width: 25%;
    padding: 20px;
    margin: auto;
}

.contact-box-img {
    max-width: 100%;
    height: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width: 40%;
    margin: auto;
}

button {
    margin: 4px;
    padding: 2px 15px;
    border: 0;
    background-color: #FFF;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000;
    border-radius: 4px
}

button:hover {
    background-color: #a8a8a8;
}

@media only screen and (max-width: 400px) {
    .content {
        min-width: 90%;
    }

    .page {
        max-width: 100%;
    }

    .page-title {
        width: 90%;
        font-size: 30px;
    }

    .prev, .next {
        display: none;
    }

    .page-home {
        font-size: 70px;
    }

    .home-content {
        font-size: 20px;
    }

    .topnav_wrapper {
        width: 100%;
    }

    .topnav a {
        padding: 8px;
        margin: auto;
        width: 22%;
        font-size: 14px;
    }
}