@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Markazi+Text|Julius+Sans+One');
	
* { padding: 0; margin: 0; }

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}


a.in-text {
	text-decoration: none;
	color: #5d7993;
	font-family: 'Crimson Text', serif;
}

a.in-text:link{
	text-decoration: none;
	color: #5d7993;
}

a.in-text:visited {
	text-decoration: none;
	color: #5d7993;
}

a.in-text:hover  {
	text-decoration: underline;
	color: #5d7993;
}

a.in-text:active {
	text-decoration: none;
	color: #5d7993;
}

a.in-text-footer {
	text-decoration: none;
	color: #f2f0ea;
	font-family: 'Crimson Text', serif;
	padding-right: 10px;
}

a.in-tex-footer:link{
	text-decoration: none;
	color: #f2f0ea;
}

a.in-text-footer:visited {
	text-decoration: none;
	color: #f2f0ea;
}

a.in-text-footer:hover  {
	text-decoration: underline;
	color: #f2f0ea;
}

a.in-text-footer:active {
	text-decoration: none;
	color: #f2f0ea;
}

.topnav {
	overflow: hidden;
	color: #333;
	background-color: #edebe3;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	top: 0px;
	position: fixed;
	opacity: .5;
}

.topnav:hover {
	opacity: 1;
}

.topnav a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	color: #8e8c83;
}


.page-title {	
	font-family: 'Josefin Sans', sans-serif;
	color: #f2f0ea;
	font-size: 150px;
	text-align: center;
	padding-top: 170px;
	padding-bottom: 170px;
	background-image: url("header_background2.png");
	background-size: cover;
	flex-grow: 1;
}

.page-title-home {	
	font-family: 'Josefin Sans', sans-serif;
	color: #f2f0ea;
	font-size: 150px;
	text-align: center;
	background-image: url("header_background2.png");
	background-size: cover;
	padding-top: 10%;
	flex-grow: 1;

}

.content {
	color: #333;
	font-family: 'Crimson Text', serif;
	line-height: 1;
	background-color: #edebe3;
	width: 70%;
	margin: auto;
	font-size: 16px;
}

.home-content {
	color: #edebe3;
	font-family: 'Crimson Text', serif;
	font-size: 24px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

.footer {
	background-color: #5d7993;
	font-family: 'Crimson Text', serif;
	color: #f2f0ea;
	padding: 10px;
	text-align: left;
}


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
  'left left middle middle right right' 
  'left left middle middle right right' 
  'left left middle middle right right' ;
} 

.left, .middle, .right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

.columns {
	color: #5d7993;
	font-size: 24px;
	font-family: 'Josefin Sans', sans-serif;
	
}

@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
    'left left left left left left' 
    'middle middle middle middle middle middle' 
    'right right right right right right' ;
}

.collectorButton {
    background-color: #4286f4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



