.gallery {
    max-width: 100%;
    padding: 10px;
    text-align: center;
}

.gallery img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 0 4px;
    max-width: 12%;
}

@media only screen and (max-device-width: 660px) {
    .gallery {
        padding: 5px;
    }

    .gallery img {
        max-width: 15%;
    }
}