$theme:#1F6356;
$light-theme: #76a39a;
$dark-theme: #1c4039;
$extra-dark-theme: #062620;
$neutral: #FFFFCB;
$darkNeutral: #CBA45F;
$accent: #1c4039;
$black: #000;
$white: #FFF;
$darkGrey: #333;
$lightGrey: #999;
