/*$theme:#1F6356;
$light-theme: #49857a;
$dark-theme: #15423a;
$accent: #eb4034;
$neutral: #f0cb8b;
$light-neutral: #FFFFCB;
$dark-neutral: #CBA45F;*/
$theme:#1F6356;
$light-theme: #49857a;
$dark-theme: #15423a;
$accent: #67c781;
$dark-accent: #488a5a;
$neutral: #999;
$light-neutral: #ddd;
$dark-neutral: #444;