@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
    margin: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: linear-gradient($dark-neutral, black);
}

$border-radius: 8px;
$app-height: 550px;

#root {
    font-family: 'Overpass', sans-serif;
    width: 100%;
    padding-top: 30px;

    /* links */
    a {
        color: white;
    }

    a:visited {
        color: white;
    }

    a:hover {
        color: $accent
    }

    a:active {
        color: $accent;
    }

    p {
        padding: 0 20px;
    }

    /*
        SIDEBAR
     */
    #sidebar-container {
        float: right;

        #sidebar {
            border-radius: $border-radius;
            margin: 0 40px;
            width: 210px;
            color: white;

            .sidebar-section {
                border-radius: $border-radius;
                border: 1px solid black;
                background-color: black;
                padding: 0;
                margin: 0 0 20px 0;

                h1 {
                    background-color: $dark-neutral;
                    font-family: 'Montserrat', sans-serif;
                    margin: 0;
                    padding: 10px;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }

                .sidebar-block {
                    background-color: $dark-neutral;
                    margin: 2px 0 0 0;
                    padding: 1px;

                    h4 {
                        color: $accent;
                        margin: 10px;
                    }

                    p {
                        padding: 0;
                        margin: 5px;
                    }
                }

                :last-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    margin-bottom: 0;
                }
            }
        }
    }

    #app-container {
        width: 50%;
        margin: auto;

        .content-enter {
            opacity: 0.01;
        }

        .content-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }

        .content-exit {
            opacity: 1;
        }

        .content-exit-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }

        #content-container {
            text-align: justify;
            font-weight: 400;
            font-size: 18px;
            color: white;

            min-height: $app-height;
            margin-bottom: 25px;
            overflow: hidden;
            border: 1px solid $accent;
            border-radius: $border-radius;
        }

        h1 {
            margin: 0;
            padding: 20px;
            font-size: 70px;
            font-family: 'Montserrat', sans-serif;
        }

        h4 {
            color: white;
            background-image: linear-gradient(to right, $dark-accent, $accent);
            margin: 0;
            padding: 20px;
        }
    }

    /*
            PAGE SELECT
         */
    #page-select-container {
        #pages {
            margin: 8px 0;
            padding: 0;
            border-top: 2px solid $accent;
            font-weight: 400;
            overflow: auto;

            div {
                float: left;
                display: inline;
                list-style-type: none;
                padding: 5px 20px;
                color: $neutral;
                border: 1px solid $light-neutral;
                border-bottom-left-radius:  $border-radius;
                border-bottom-right-radius:  $border-radius;
                border-top: 0;
                background-color: none;

                -webkit-transition: background-color 300ms linear, border 300ms linear, color 100ms linear, font-weight 300ms linear;
                -moz-transition: background-color 300ms linear, border 300ms linear, color 100ms linear, font-weight 300ms linear;
                -ms-transition: background-color 300ms linear, border 300ms linear, color 100ms linear, font-weight 300ms linear;
                -o-transition: background-color 300ms linear, border 300ms linear, color 100ms linear, font-weight 300ms linear;
            }

            div:hover {
                cursor: pointer;
                color: white;
            }

            div.selected {
                font-weight: 700;
                border: 2px solid $accent;
                border-top: 0;
                color: white;
                background-color: $accent;
            }
        }
    }


    /*
        CAROUSEL STYLING
     */
    #carousel {

        #next {
            float: right;
            margin-right: 20px;
        }

        #prev {
            float: left;
            margin-left: 20px;
        }

        #next, #prev {
            padding: 8px 20px;
            text-align: center;
            border: 1px solid $light-neutral;
            border-radius:  $border-radius;
            display: inline;
            background-color: $accent;
            color: white;
            margin-bottom: 10px;
        }

        #next:active, #prev:active {
            background-color: $neutral;
            color: white;
        }

        #next:hover, #prev:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-device-width: 660px) {
    $border-radius: 20px;
    $app-height: 1330px;

    body {
        padding: 0 20px;
    }

    #root {
        #sidebar-container {
            float: none;
            margin: auto;
            min-width: 100%;
            font-size: 28px;

            #sidebar {
                min-width: 100%;
                margin: 0;

                .sidebar-section {
                    border: 3px solid black;
                }
            }
        }

        #app-container {
            min-width: 100%;

            #content-container {
                font-size: 28px;
                min-height: $app-height;
                box-shadow: none;
                border: 3px solid $accent;
                border-radius: $border-radius;
                margin: auto;

                h1 {
                    font-size: 125px;
                }
            }

            #page-select-container {
                #pages {
                    border-top: 5px solid $accent;

                    div {
                        padding: 15px 20px;
                        font-size: 45px;
                        border: 3px solid $light-neutral;
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius:  $border-radius;
                        border-top: 0;
                    }

                    div.selected {
                        border: 6px solid $accent;
                        border-top: 0;
                    }
                }
            }

            #carousel {
                #next, #prev {
                    font-size: 40px;
                    padding: 20px 40px;
                }
            }
        }
    }
}