@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;700&display=swap');

section {
	width: 775px;
	margin: auto;
	font-family: 'Overpass', sans-serif;
	font-weight: 200;

	#content {	
		text-align: justify;
		border: 1px solid $light-grey;
		padding: 10px;
		background-color: $theme;
		color: white;
		min-height: 510px;
	}

	h1 {
		margin: 0;
	}

	h4 {
		color: $light-grey;
	}

	a {
		text-decoration: none;
		color: $light-theme;
	}

	a:visited {
		text-decoration: none;
		color: $light-theme;
	}

	a:hover {
		text-decoration: none;
		color: $theme;
	}

	a:active {
		text-decoration: none;
		color: $dark-theme;
	}
}

@media only screen and (max-width: 425px) {
	section {
		width: 95%;
		margin: 0;
		font-size: 30px;

		#content {
			min-height: 80%;
		}
	}
	
}