/* controller styling */
.content {}

.controls {
	background-color: #888;
	color: #333;
	font-family: sans-serif;
	margin: 0px 10px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
	display: inline-block;
	float: left;
	width: 50%;
}

.control_block {
	background-color: #ccc; 
	display: block;
	margin: 10px;
	padding-bottom: 5px;
	border-radius: 6px;
	border: 1px solid black;
}
.control_set {
	padding: 3px 8px 8px 8px;
	border-radius: 4px;
	display: inline-block;
	text-align: left;
}

.control_button {
	margin: 4px;
	padding: 2px;
	border: 0;
	background-color: #b23737;
	box-shadow: none;
	font-family: sans-serif;
	width: 150px;
	text-align: center;
	color: #fff;
	border-radius: 4px
}

.control_button:hover {
	background-color: #912d2d;
	color: #FFF;
}

.control_button:active {
	background-color: #662020;
	color: #FFF;
}

.control_button:focus {
	outline: 0;
}


/* slider */
.slider {
  -webkit-appearance: none;
  height: 2px;
  background: #333;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px 0px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #b23737;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #b23737;
  cursor: pointer;
}

/* title block */
.title_block {
	font-family: sans-serif;
	background-color: #888;
	color: #000;
	margin: 0px 0 5 0;
	padding: 5px 5px;
	border-radius: 10px;
	border: 1px solid black;
	display: block;
}

h1, h2, h3, h4 {
	margin: 2px
}

a.in_text {
	color: #b23737;
}

a.in_text:link {
	color: #b23737;
}

a.in_text:visited {
	color: #b23737;
}

a.in_text:active {
	color: #b23737;
}

a.in_text:hover {
	color: #b23737;
}

#info {
	width: 400px;
}

/* text output */
#text_output {
	background-color: #ddd;
	color: #333;
	min-height: 20px;
	width: 90%;
	margin: 8px auto;
	padding: 3px;
	border-radius: 5px;
	border: 2px solid #555;
}

/* canvas */
canvas {
	border-radius: 10px;
	border: 1px solid #000;
	display: inline-block;
	float: left;
	margin: 0px 0px 10px 0px;
}

/* info section */
.info {
	background-color: #ffffff;
	color: #333;
	font-family: sans-serif;
	border-radius: 10px;
	display: block;
	float: left;
	width: 70%;
}

.info_block {
	background-color: #ccc;
	display: inline-block;
	float: left;
	margin: 10px 0;
	padding: 0px 10px;
	border-radius: 6px;
	border: 1px solid black;
	max-width: 100%;
}