@import "../colors";

#carousel {

  #next {
    float: right;
  }

  #prev {
    float: left;
  }

  #next, #prev {
    padding: 8px 20px;
    text-align: center;
    border: 1px solid $light-neutral;
    display: inline;
  }

  #next:active, #prev:active {
    background-color: $neutral;
    color: white;
  }
}


@media only screen and (max-device-width: 425px) {
  #next, #prev {
    border: 3px solid $light-neutral
  }
}