@import "../colors";

#carousel {

  #next {
    float: right;
    margin-right: 20px;
  }

  #prev {
    float: left;
    margin-left: 20px;
  }

  #next, #prev {
    padding: 8px 20px;
    text-align: center;
    border: 1px solid $light-neutral;
    border-radius: 8px;
    display: inline;
  }

  #next:active, #prev:active {
    background-color: $neutral;
    color: white;
  }
}


@media only screen and (max-device-width: 660px) {
  #carousel {
    #next, #prev {
      border: 3px solid $light-neutral;
      border-radius: 20px;
      padding: 12px 28px;
    }
  }
}