@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Josefin+Sans|Markazi+Text|Julius+Sans+One');

.blog-list-content {
	color: #333;
	font-family: 'Crimson Text', serif;
	/* background-color: #edebe3; */
	background: none;
	width: 50%;
	margin: auto;
	font-size: 18px;
	text-align: justify;
}

.blog-list-content a{
  display: block;
  text-decoration: none;
}

.blog-summary-box{
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color:#e5e2de;
	opacity: .65;
	text-decoration: none;
}

.blog-summary-box:hover{
	opacity: 1;
}

.blog-summary-title {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  font-size: 48px;
  text-align: left;
}

.blog-summary-date{
  	color: #111;
    font-size: 12;
    text-align: left;
}

.blog-post-info {
	font-size: 20px;
	color: #111;
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	display: block;
	margin-top: 10px;
}

.blog-summary-content{
  	color: #333;
    text-align: left;
}

.blog-post-title {
  font-family: 'Josefin Sans', sans-serif;
	color: #48545b;
  background-color: #c6c4bc;
  border-radius: 4px;
	font-size: 80px;
	text-align: left;
  width: 60%;
  padding: 25px 0px 15px 5px;
  margin: 50px auto 10px auto;
}

.blog-post-content {
  background-color: #3c4549;
  border-radius: 4px;
  padding: 10px;
  width: 60%;
}

/* style for generic list of things with pictures */
.picture-list-element {
  display: block;
	margin: 0px 0px 20px 0px;
  background-color: #333;
	padding: 10px;
}

.picture-list-title-block {
  font-family: 'Josefin Sans', sans-serif;
  color: #f2f0ea;
  border-radius: 4px;
  font-size: 48px;
  text-align: left;
  display: block;
	width: 100%;
  float: left;
}

.picture-list-image {
  display: block;
  margin: 0px 20px 0px 0px;
  max-width: 30%;
  float: left;
}

.picture-list-title {
  display: block;
  margin: 0px 5px 0px 5px;
}

.picture-list-text {
	bottom: 20px;
	display: block;
	font-family: 'Crimson Text', serif;
	font-size: 18px;

}
.clear {
	clear: right;
}
